body {
  background-color: #333;
  font-family: Arial;
}

h1 {
  color: #d36f04;
  font-family: Arial;
  margin-left: 25px;
  font-size: 200%;
  margin-bottom: 25px;
}

h2 {
  color: #d36f04;
  font-family: Arial;
  margin-left: 40px;
  font-size: 200%;
  margin-bottom: 1px;
  text-decoration: underline;

}

h3 {
  color: #d36f04;
  font-family: Arial;
  margin-left: 50px;
  font-size: 150%;
  margin-bottom: 1px;
  
}

p {
  color: white;
  font-family: Arial;
  margin-left: 75px;
  margin-right: 75px;
}

iframe {
  white-space: nowrap;
  border: none;
  width: 100%;
  height: 5%;
}

li {
  color: white;
  font-size: 200%;
}



hr {
  color: #03a4af;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #03a4af;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

.source-sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	
}
.source-sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;

	background: white;
	transition: width .5s ease, background-color .5s ease;
}
.source-sliding-middle-out:hover:after {
	width: 100%;
	height: 1px;
	background: white;
}

.home {
  opacity: 1;
  font-size: 400%;
  animation: fadein 5s;
}

.home2 {
  font-size: 150%;
  animation: fadein 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


#important {
  color: #03a4af;
}

#note {
  color: white;
  font-size: 90%;
  margin-top: 1px;
  margin-left: 75px;
}

#important2 {
  color:#d36f04;
}